body {
    font-family: PlayfairDisplay, "Times New Roman", "sans-serif";
    color: #626262;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
}

.wrapper {
    padding-top: 44px;
    padding-bottom: 70px;
    width: 900px;
    margin: 0 auto;
}

.page-header {
    margin-bottom: 50px;
}

.site-navigation {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    font-size: 0px;
    list-style: none;
    padding-right: 0px;
}

.site-navigation-item {
    display: inline-block;
}

.site-navigation li:last-child {
    margin-right: 0px;
}

.site-navigation a {
    padding: 30px;
    display: block;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.site-navigation a:hover {
    color: #03a9f4;
}

.site-navigation a:focus {
    color: #ff911f;
}

/*----------------------------------------*/

.news-list {
    margin: 0px;
    font-size: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: 55px;
}

.news-list-item {
    margin: 0px;
    padding: 0px;
    width: 420px;
    margin-bottom: 135px;
    margin-right: 60px;
    display: inline-block;
    font-size: 14px;
}

.news-list-image {
    margin: 0px;
    margin-bottom: 30px;
}

.news-list-tag {
    margin: 0px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #b4ad9e;
    font-weight: 300;
}

.news-list-title {
    margin: 0px;
    margin-bottom: 40px;
    font-size: 30px;
}

.news-list-about {
    margin: 0px;
}

.news-list-item:last-child {
    margin-right: 0px;
}

/*---------------------------------------------------*/

.button {
    font-size: 20px;
    width: 165px;
    height: 60px;
    background: #fff;
    border: 1px solid;
    display: block;
    margin: 0 auto;
    padding: 0px;
}

.button:hover {
    color: #03a9f4;
}

.news-list-item:nth-child(2n) {
    margin-right: 0px;
}

.news-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}