html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 14px;
}

.content {
  width: 970px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

/* --------header----------- */
.masthead {
  padding: 20px;
  margin-bottom: 100px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  padding: 10px;
  font-family: Allura, sans-serif;
  color: rgb(254, 209, 54);
  font-size: 26px;
  line-height: 41px;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.3s linear;
}

.logo:hover {
  transform: scale(1.2);
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navigation-list-item a {
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  padding: 18px 18px 5px 18px;
  line-height: 41px;
  color: rgb(34, 34, 34);
  transition: color 0.3s linear;
  text-decoration: none;
}

.navigation-list-item::after {
  opacity: 0;
  content: "";
  display: block;
  width: 0px;
  background-color: rgb(254, 209, 54);
  height: 3px;
  transition: width 0.3s linear;
}

.navigation-list-item:hover::after {
  width: 100%;
  opacity: 1;
}

.navigation-list-item a:hover,
.navigation-list-item a:focus {
  color: #fed136;
  cursor: pointer;
}

/* --------main-section--------- */
.main-section {
  margin-bottom: 80px;
}

.main-section-header {
  text-align: center;
  margin-bottom: 80px;
}

.main-section-title {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: rgb(34, 34, 34);
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
}

.main-section-about {
  margin: 0;
  font-family: Cabin;
  font-size: 16px;
  color: rgb(119, 119, 119);
}

.main-section-list {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.main-section-list-item {
  position: relative;
  width: calc(33.3% - 10px);
  margin-bottom: 20px;
}

.main-section-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

/* 292px; */

.main-section-list-item::before {
  content: "";
  display: block;
  height: 73px;
  background-repeat: no-repeat;
  background-position: center;
}

.commerce::before {
  background-image: url("../img/icons/E-Commerce-icon.png");
}

.responsive::before {
  background-image: url("../img/icons/Responsive-Web-icon.png");
}

.security::before {
  background-image: url("../img/icons/Web-Security-icon.png");
}

.service-name {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 75px;
  margin: 0px;
  color: rgb(34, 34, 34);
  text-align: center;
}

.service-name-about {
  margin: 0px;
  font-family: "Roboto slab", sans-serif;
  font-weight: normal;
  text-align: center;
  color: rgb(119, 119, 119);
}

/* ------footer--------- */

.formsection {
  background-color: rgb(34, 34, 34);
  background-image: url("../img/bgimage/Map-Image.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding-top: 110px;
  padding-bottom: 110px;
}

.contact-title {
  margin: 0px;
  text-transform: uppercase;
  color: #fff;
  font-family: montserrat, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-title-about {
  font-family: cabin, sans-serif;
  font-size: 16px;
  color: rgb(119, 119, 119);
  margin: 0px;
  margin-bottom: 80px;
}

/* ---------------------- */

.form-objects {
  display: flex;
  width: 470px;
  justify-content: center;
  flex-wrap: wrap;
}

.form-objects input {
  margin-right: 28px;
}

.form-objects input:not(:last-child) {
  margin-bottom: 28px;
}

div input {
  border-radius: 2px;
  border: 1px solid rgb(204, 204, 204);
  width: 455px;
  height: 50px;
  padding: 15px;
}

textarea[name="message"] {
  border-radius: 2px;
  width: 455px;
  height: 210px;
  resize: none;
  padding: 15px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: block;
  margin: 0px;
  padding: 0px;
  border-style: none;
  border-radius: 3px;
  background-color: rgb(253, 206, 52);
  width: 240px;
  height: 66px;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  transition: color 0.3s linear, background-color 0.3s linear;
  cursor: pointer;
}

.button:hover {
  color: rgb(253, 206, 52);
  background-color: rgb(255, 255, 255);
}

.form-objects input:valid {
  outline-color: green;
}

.form-objects input:invalid {
  outline-color: red;
}

textarea[name="message"]:valid {
  outline-color: green;
}

textarea[name="message"]:invalid {
  outline-color: red;
}
