footer {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  border-top: solid 1px rgb(229, 229, 229);
}

.footertext {
  display: inline-block;
  color: $main-titles-color;
  font-weight: 400;
}

.author {
  display: inline-block;
  color: $hover-icon-color;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
}

.email-form__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: $icon-bg-color;
  color: $primary-white-text-color;
  font-family: "Montserrat", sans-serif;
  font-size: $primary-font-size;
  transition: background-color 0.3s linear;

  &:hover {
    background-color: $hover-icon-color;
  }
}

.button {
  @include size(160px, 40px);
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.email-form__input {
  font-family: $secondary-font;
  margin: 0;
  padding: 0 10px;
  color: rgb(204, 204, 204);
  width: 230px;
  height: 40px;
  border: solid 1px rgb(231, 231, 231);
}
