.masthead {
  padding-top: 15px;
  padding-bottom: 230px;
  background-image: linear-gradient(to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%),
    url("../images/header-bg.png");
  @extend %background-position;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%),
      url("../images/header-bg@2x.png");
  }

}

.navigation {
  display: flex;
  align-items: center;
  margin-bottom: 170px;
}

.nav {
  @extend %flexstandart;
  min-width: 550px;
}

.list-style {
  @extend %list;
  display: flex;
}

.nav__link,
.users-list__link {
  @extend %link;
  text-transform: uppercase;
  color: $primary-white-text-color;
  transition: color 0.3s linear;
}

.nav__item::after,
.users-list__item::after {
  @extend %psevdo;
  background-color: #fce38a;
  @include size(0px, 3px);
  transition: width 0.3s linear;
}

.nav__link:hover,
.users-list__link:hover {
  color: rgb(252, 227, 138);
}

.nav__item:hover::after,
.users-list__item:hover::after {
  opacity: 1;
  width: 100%;
}

.sitelogo {
  @extend %link;
  color: $primary-white-text-color;
  font-size: $h2_logo-size;
  font-weight: 700;
  transition: color 0.3s linear, transform 0.3s linear;
  margin-right: auto;

  &:hover {
    color: rgb(252, 227, 138);
    transform: scale(1.2);
  }
}

.users-list {
  @extend %flexstandart;
  min-width: 50px;
  flex-grow: 0;
  margin-left: 20px;
}

.users-list__cart-icon,
.users-list__search-icon {
  cursor: pointer;
  @include size(18px, 18px);
  fill: $primary-white-text-color;
  @extend %background-position;
}

.users-list__cart-icon:hover,
.users-list__search-icon:hover {
  fill: rgb(252, 227, 138);
}
