%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

%button {
  display: block;
  margin: 0;
  cursor: pointer;
}

%background-position {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

%psevdo {
  display: block;
  content: "";
}

%flexstandart {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
