html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, "sans-serif";
  font-size: 15px;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

/* --------header----------- */
.masthead {
  margin-bottom: 80px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  min-height: 100px;
}

.logo {
  display: block;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(149, 225, 211);
}

.site-navigation-list {
  display: flex;
  list-style: none;
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.site-navigation-items {
}

.site-navigation-list a {
  display: block;
  text-decoration: none;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(149, 225, 211);
}

.site-navigation-items::after {
  opacity: 0;
  content: "";
  display: block;
  background-color: rgb(243, 129, 129);
  margin: 0 auto;
  width: 0px;
  height: 3px;
  transition: width 0.2s linear;
}

.site-navigation-items:hover::after {
  width: 100%;
}

.site-navigation-items:hover a,
.site-navigation-items:focus a {
  color: rgb(243, 129, 129);
}

.site-navigation-items a:hover,
.site-navigation-items a:focus {
  color: rgb(243, 129, 129);
}

.site-navigation-items:hover::after {
  opacity: 1;
}

/* ----------services-------- */

.services {
  margin: 0 auto;
  margin-bottom: 80px;
}

.section-header-one {
  margin-bottom: 60px;
}

.services-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0 auto;
}

.services-title-before,
.team-title-before {
  text-align: center;
  margin: 0 auto;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 20px;
}

.services-title::after {
  content: "";
  margin: 0 auto;
  display: block;
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
  text-align: center;
  margin-top: 40px;
}

.services-list {
  list-style: none;
  font-size: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  flex-grow: 0;
  justify-content: space-between;
}

.services-list-items {
  position: relative;
  width: 380px;
  padding-left: 82px;
}

.services-list-items:not(:nth-last-child(-n + 3)) {
  margin-bottom: 96px;
}

.services-names {
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.services-descr {
  color: rgb(153, 153, 153);
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.services-list-items::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  display: block;
  width: 82px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.first-bgimage-of-services::before {
  background-image: url(../img/section1/alarm-1.png);
}

.second-bgimage-of-services::before {
  background-image: url(../img/section1/linegraph-2.png);
}

.third-bgimage-of-services::before {
  background-image: url(../img/section1/comp-3.png);
}

.fourth-bgimage-of-services::before {
  background-image: url(../img/section1/book-4.png);
}

.fifth-bgimage-of-services::before {
  background-image: url(../img/section1/home-5.png);
}

.sixth-bgimage-of-services::before {
  background-image: url(../img/section1/image-6.png);
}

/* ------------section 2------------ */

.section-header-two {
  margin-bottom: 40px;
}

.team {
  margin-bottom: 80px;
}

.team-title {
  margin: 0px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.team-title::after {
  content: "";
  margin: 0 auto;
  display: block;
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
  text-align: center;
  margin-top: 40px;
}

.team-about {
  color: rgb(153, 153, 153);
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 80px;
}

.team-list {
  display: flex;
  list-style: none;
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.team-list-item {
  position: relative;
}

.about-team-member {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  padding: 0px;
}

.team-list-name {
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 15px;
}

.team-list-occupation {
  color: rgb(153, 153, 153);
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  margin: 0px;
}

/* ---------overlay---------- */

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 470px;
  left: -10px;
  top: -10px;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  transition: linear-gradient 2s linear;
}

.socials-list {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 226px;
  z-index: 666;
  position: absolute;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.socials-list-items a {
  display: block;
  margin-right: 1px;
  width: 54px;
  background-color: rgb(252, 227, 138);
  height: 54px;
  transition: background-color 0.3s linear;
}

.team-list-item:hover .overlay {
  opacity: 1;
  box-shadow: 11px 10px 0px 0px rgba(149, 225, 211, 1);
  transition: opacity 0.3s linear, box-shadow 0.3s linear;
}

.team-list-image {
  transform: translate(0, 0);
  transition: transform 0.3s linear;
}

.team-list-item:hover .team-list-image {
  transform: translate(-2.65%, -2.1%);
}

.socials-list-icon {
  background-position: center;
  background-repeat: no-repeat;
}

.socials-list-items:hover a {
  background-color: rgb(149, 225, 211);
}

.facebook {
  background-image: url("../img/overlay/facebook.png");
}

.twitter {
  background-image: url("../img/overlay/twitter.png");
}

.pinterest {
  background-image: url("../img/overlay/pinterest.png");
}

.instagram {
  background-image: url("../img/overlay/instagram.png");
}

/* -------footer ----------*/
footer {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  border-top: solid 1px rgb(229, 229, 229);
}

.footertext {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-weight: 400;
}

.author {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: rgb(243, 129, 129);
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
}

.button {
  width: 150px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: rgb(149, 225, 211);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: background-color 0.3s linear;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(243, 129, 129);
}

.emailadress {
  margin: 0px;
  padding: 0 10px;
  color: rgb(204, 204, 204);
  width: 230px;
  height: 40px;
  border: solid 1px rgb(231, 231, 231);
}
